<div class="search-form">
    <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Search</label>
        <input type="text"placeholder="Enter search term" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">tim kiem</small>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
